<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wangyurui.book">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="弘德读书"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wangyurui.book.SplashActivity"
            android:theme="@style/MyTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.wangyurui.book.BookListActivity"
            android:label="@string/book_list_name"/>
        <activity
            android:name="com.wangyurui.book.BookActivity"
            android:theme="@style/MyTheme.NoActionBar"/>
    </application>

</manifest>